.createBlock {
  display: flex;
  justify-content: center;
}
.pageContainer {
  margin: auto;
  width: 70%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 13px -7px rgba(34, 60, 80, 0.2);
  border-radius: 0 0 10px 10px;
}
.resumeInfo {
  display: flex;
  justify-content: space-between;
}
.workerSkills {
  width: 80%;
  margin-bottom: 20px;
}
.workerAboutMe {
  width: 80%;
}
.workerSkillsAndUpdateButton {
  display: flex;
  justify-content: space-between;
}
.updateButton {
  margin-top: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
